# Folder of IDE
.idea/
# Folder of .apex
.apex/
# Project FFile ignore
recruitment_app.iml
.sdk/
# Salesforce unnecessary git
src/applications
src/labels
src/layouts
src/objects
src/email
src/tabs
src/workflows
src/package.xml